.caixa1 {
    background: #262729;
    height: 14vh !important;
}

.caixa2 {
    background-color: #565159;
    height: 35px;

}

.textoRedes {
    color: #0CABF7;
    font-size: 17px !important;
}

.redes {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}

.texto {
    color: #EDB426;
    text-decoration: none !important;

}

a {
    color: #EDB426;
}