.cursor {
    cursor: pointer;
    color: white;
}

.logoutNavbar {
    text-decoration: none;
}

.blogPessoalNavbar {
    color: #EDB426;
    cursor: pointer;
}

.navbar {
    background: #262729;
}


